@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f7;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #d0d1d2;
  border-radius: 20px;
}
