@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: #f8f9ff;
} */

/* scroll bar style  */
::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #d0d1d2;
  border-radius: 20px;
}

/* Hidden input type number field in arrow   */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.dashboard_container {
  max-width: 1392px;
  margin: 0 auto;
}

.animate-move {
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* marquee animation start */

.client_marquee_anim {
  animation: marqueeH 10s linear infinite;
}

@keyframes marqueeH {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.client_marquee_anim_wrap:hover .client_marquee_anim {
  animation-play-state: paused;
}

.client_marquee_anim_wrap:hover .review_image {
  filter: grayscale(100%);
}

.review_card:hover .review_image {
  filter: none;
}

/* marquee animation end */

.nwxtbtn:hover .next-arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

