@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: #f8f9ff;
} */

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #d0d1d2;
  border-radius: 20px;
}

.dashboard_container {
  max-width: 1392px;
  margin: 0 auto;
}

.animate-move {
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* marquee animation start */

.client_marquee_anim {
  animation: marqueeH 10s linear infinite;
}

@keyframes marqueeH {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.client_marquee_anim_wrap:hover .client_marquee_anim {
  animation-play-state: paused;
}

.client_marquee_anim_wrap:hover .review_image {
  filter: grayscale(100%);
}

.review_card:hover .review_image {
  filter: none;
}

/* marquee animation end */
